<aside>
	<div class="top-nav">
		<nav class="mdl-navigation">
			<ul>
				<li>
					<a class="mdl-navigation__link" [routerLink]="['/dashboard']">
						<md-icon svgIcon="calender-blank" mdTooltip="Dashboard" mdTooltipPosition="right"></md-icon>
					</a>
				</li>
				<li>
					<a class="mdl-navigation__link" [routerLink]="['/dashboard/tasks/today']">
						<md-icon svgIcon="calender-blank" mdTooltip="Todays Tasks" mdTooltipPosition="right"></md-icon>
					</a>
				</li>
				<li>
					<a class="mdl-navigation__link" [routerLink]="['/dashboard/tasks/all']">
						<md-icon svgIcon="calender-blank" mdTooltip="All Tasks" mdTooltipPosition="right"></md-icon>
					</a>
				</li>
				<li>
					<a class="mdl-navigation__link" [routerLink]="['/dashboard/tasks/month']">
						<md-icon svgIcon="calender-month" mdTooltip="This Months Tasks" mdTooltipPosition="right"></md-icon>
					</a>
				</li>
				<li>
					<a class="mdl-navigation__link" [routerLink]="['/dashboard/groups']">
						<md-icon svgIcon="groups"></md-icon>
					</a>
					<div class="sidebar-menu">
						<div class="widget project">
							<a [routerLink]="['/dashboard/groups']"><h2>Groups <div>{{allGroups.length}}</div></h2></a>
							<ul>
								<ng-template ngFor let-group [ngForOf]="allGroups">
									<li routerLink="/dashboard/group/{{group.id}}">
										<a>{{group.name}}</a>
									</li>
								</ng-template>
							</ul>
							<kp-button-light [routerLink]="['/dashboard/groups/add']" message='Create New'></kp-button-light>
						</div>
					</div>
				</li>
				<li>
					<a class="mdl-navigation__link" [routerLink]="['/dashboard/projects']">
						<md-icon svgIcon="file"></md-icon>
					</a>
					<div class="sidebar-menu">
						<div class="widget project">
							<a [routerLink]="['/dashboard/projects']"><h2>Projects <div>{{allProjects.length}}</div></h2></a>
							<ul>
								<ng-template ngFor let-project [ngForOf]="allProjects">
									<li routerLink="/dashboard/projects/{{project.id}}">
										<a>{{project.name}}</a>
									</li>
								</ng-template>
								<kp-button-light [routerLink]="['/dashboard/projects/add']" message='Create New'></kp-button-light>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a class="mdl-navigation__link">
						<md-icon svgIcon="graph" mdTooltip="Project Stats" mdTooltipPosition="right"></md-icon>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>

