<!--<aside class="sidebar-right">
	<div class="widget calender">
		<svg width="309px" height="314px" viewBox="21 47 309 314" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g id="Calendar" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(25.000000, 50.052138)">
				<g id="Days" transform="translate(30.000000, 67.069864)" font-size="10" font-family="SourceSansPro-Semibold, Source Sans Pro" fill="#354052" opacity="0.5" font-weight="500">
					<text id="SUN">
						<tspan x="0.22" y="10">SUN</tspan>
					</text>
					<text id="MON">
						<tspan x="38.625" y="10">MON</tspan>
					</text>
					<text id="TUE">
						<tspan x="78.805" y="10">TUE</tspan>
					</text>
					<text id="WED">
						<tspan x="115.185" y="10">WED</tspan>
					</text>
					<text id="THU">
						<tspan x="153.18" y="10">THU</tspan>
					</text>
					<text id="FRI">
						<tspan x="191.545" y="10">FRI</tspan>
					</text>
					<text id="SAT">
						<tspan x="223.955" y="10">SAT</tspan>
					</text>
				</g>
				<g id="Day-Numbers" transform="translate(32.000000, 102.106361)">
					<text id="28" opacity="0.5" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="0.318" y="14">28</tspan>
					</text>
					<text id="29" opacity="0.5" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="40.318" y="14">29</tspan>
					</text>
					<text id="30" opacity="0.5" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="78.318" y="14">30</tspan>
					</text>
					<text id="31" opacity="0.5" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="115.818" y="14">31</tspan>
					</text>
					<text id="1" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="156.409" y="14">1</tspan>
					</text>
					<text id="2" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="192.909" y="14">2</tspan>
					</text>
					<text id="3" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="226.909" y="14">3</tspan>
					</text>
					<text id="4" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="3.909" y="54.0417101">4</tspan>
					</text>
					<text id="5" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="43.909" y="54.0417101">5</tspan>
					</text>
					<ellipse id="Active" fill="#4AD8B1" cx="196" cy="130.110532" rx="14" ry="14.0145985"></ellipse>
					<text id="6" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="81.909" y="54.0417101">6</tspan>
					</text>
					<text id="7" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="119.409" y="54.0417101">7</tspan>
					</text>
					<text id="8" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="156.909" y="54.0417101">8</tspan>
					</text>
					<text id="9" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="192.909" y="54.0417101">9</tspan>
					</text>
					<text id="10" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="222.818" y="54.0417101">10</tspan>
					</text>
					<text id="11" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="0.318" y="94.0834202">11</tspan>
					</text>
					<text id="12" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="39.818" y="94.0834202">12</tspan>
					</text>
					<text id="13" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="77.818" y="94.0834202">13</tspan>
					</text>
					<text id="14" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="115.818" y="94.0834202">14</tspan>
					</text>
					<text id="15" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="152.818" y="94.0834202">15</tspan>
					</text>
					<text id="16" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="189.818" y="94.0834202">16</tspan>
					</text>
					<text id="17" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="223.318" y="94.0834202">17</tspan>
					</text>
					<text id="18" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="0.818" y="134.12513">18</tspan>
					</text>
					<text id="19" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="39.818" y="134.12513">19</tspan>
					</text>
					<text id="20" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="78.318" y="134.12513">20</tspan>
					</text>
					<text id="21" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="115.818" y="134.12513">21</tspan>
					</text>
					<text id="22" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="153.318" y="134.12513">22</tspan>
					</text>
					<text id="23" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#FFFFFF">
						<tspan x="189.318" y="134.12513">23</tspan>
					</text>
					<text id="24" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="223.318" y="134.12513">24</tspan>
					</text>
					<text id="25" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="0.318" y="174.16684">25</tspan>
					</text>
					<text id="26" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="40.318" y="174.16684">26</tspan>
					</text>
					<text id="27" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="77.818" y="174.16684">27</tspan>
					</text>
					<text id="28" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="116.318" y="174.16684">28</tspan>
					</text>
					<text id="29" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="153.318" y="174.16684">29</tspan>
					</text>
					<text id="30" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="189.318" y="174.16684">30</tspan>
					</text>
					<text id="31" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="222.818" y="174.16684">31</tspan>
					</text>
				</g>
				<g id="Top-Bar-Nav" transform="translate(18.000000, 15.015641)">
					<polygon id="Back" fill="#CED0DA" points="6.015 4.00417101 0 9.02239833 6.015 14.0396246"></polygon>
					<text id="March-2016" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="14" font-weight="500" fill="#354052">
						<tspan x="97.644" y="14">March 2016</tspan>
					</text>
					<path d="M219.036752,9.04588329 L219.036752,5.53900248 C219.036752,5.2558525 218.813077,5.04078472 218.537159,5.04078472 C218.26931,5.04078472 218.037565,5.26384441 218.037565,5.53900248 L218.037565,9.47586013 C218.034504,9.49861106 218.032927,9.52185259 218.032927,9.54547711 C218.032927,9.631617 218.055997,9.71402285 218.096451,9.78618728 C218.180619,9.94320507 218.346404,10.0459985 218.537159,10.0459985 C218.547179,10.0459985 218.557148,10.0456863 218.567057,10.0450709 L222.539923,10.0450709 C222.823073,10.0450709 223.038141,9.82139516 223.038141,9.54547711 C223.038141,9.27762847 222.815081,9.04588329 222.539923,9.04588329 L219.036752,9.04588329 Z" id="Dropdown" fill="#A1A7AF" transform="translate(220.535534, 7.543392) rotate(-45.000000) translate(-220.535534, -7.543392) "></path>
					<polygon id="Forward" fill="#CED0DA" transform="translate(262.007500, 9.021898) scale(-1, 1) translate(-262.007500, -9.021898) " points="265.015 4.00417101 259 9.02239833 265.015 14.0396246"></polygon>
				</g>
			</g>
		</svg>
	</div>
	<div class="widget project widget-padding">
		<h2>Projects <div>{{allProjects.length}}</div></h2>
		<hr>
		<ul>
			<div *ngFor="let project of allProjects" routerLink="/dashboard/projects/{{project.id}}">
				<a><md-icon svgIcon="file"></md-icon><li>{{project.name}}</li></a>
			</div>
			<a><md-icon svgIcon="add-project"></md-icon><li></li></a>
		</ul>
	</div>
	
</aside>-->
    <aside>
        <div class="top-nav">
            <nav class="mdl-navigation">
                <ul>
                    <li>
                        <a class="mdl-navigation__link" [routerLink]="['/dashboard/tasks/today']">
                            <md-icon svgIcon="calender-blank" mdTooltip="Todays Tasks" mdTooltipPosition="right"></md-icon>
                        </a>
                    </li>
                    <li>
                        <a class="mdl-navigation__link" [routerLink]="['/dashboard/tasks/all']">
                            <md-icon svgIcon="calender-blank" mdTooltip="All Tasks" mdTooltipPosition="right"></md-icon>
                        </a>
                    </li>
                    <li>
                        <a class="mdl-navigation__link" [routerLink]="['/dashboard/tasks/month']">
                            <md-icon svgIcon="calender-month" mdTooltip="This Months Tasks" mdTooltipPosition="right"></md-icon>
                        </a>
                    </li>
					<li>
                        <a class="mdl-navigation__link" [routerLink]="['/dashboard/groups']">
                            <md-icon svgIcon="groups"></md-icon>
                        </a>
						<div class="sidebar-menu">
							<div class="widget project">
								<a [routerLink]="['/dashboard/groups']"><h2>Groups <div>{{allGroups.length}}</div></h2></a>
								<ul>
									<ng-template ngFor let-group [ngForOf]="allGroups">
										<li routerLink="/dashboard/group/{{group.id}}">
											<a>{{group.name}}</a>
										</li>
									</ng-template>
								</ul>
								<a ripple class="add-button margin-top" [routerLink]="['/dashboard/groups/add']"><md-icon svgIcon="plus"></md-icon>Create New</a>
							</div>
						</div>
                    </li>
                    <li>
                        <a class="mdl-navigation__link" [routerLink]="['/dashboard/projects']">
                            <md-icon svgIcon="file"></md-icon>
                        </a>
						<div class="sidebar-menu">
							<div class="widget project">
								<a [routerLink]="['/dashboard/projects']"><h2>Projects <div>{{allProjects.length}}</div></h2></a>
								<ul>
									<ng-template ngFor let-project [ngForOf]="allProjects">
										<li routerLink="/dashboard/projects/{{project.id}}">
											<a>{{project.name}}</a>
										</li>
									</ng-template>
									<a ripple class="add-button" [routerLink]="['/dashboard/projects/add']"><md-icon svgIcon="plus"></md-icon>Create New</a>
								</ul>
							</div>
						</div>
                    </li>
                    <li>
                        <a class="mdl-navigation__link">
                            <md-icon svgIcon="graph" mdTooltip="Project Stats" mdTooltipPosition="right"></md-icon>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

