<div class="content-wrapper projects" *ngIf="project">
    <div class="lower-nav">
        <h1>Edit {{project.name}}</h1>
    </div>
    <md-card>
        <md-card-content>
            <form [formGroup]="projectEdit" name="projectEditForm" (ngSubmit)="save()">
                <div class="form-group center">
                    <input type="file" #fileInput name="avatar" accept="image/*" id="fileUpload" formControlName="project_image" hidden (change)="imgUpload($event)">
                    <label md-mini-fab color="accent" for="fileUpload" mdTooltip="Change your profile image" mdTooltipPosition="before">
                        <a md-mini-fab color="accent" id="uploadButton" >
                            <md-icon svgIcon="attach"></md-icon>
                        </a>
                    </label>
                    <img id="img_preview" type="text" placeholder="Project Image" class="project-image" name="project_image" src="{{project.project_image}}" />
                </div>
                <div class="form-group dual-group">
                    <input type="text" [(ngModel)]="project.id" formControlName="id" value="{{project.id}}" hidden>
                    <md-input-container>
                        <input mdInput [(ngModel)]="project.name" placeholder="Project Name" value="{{project.name}}"
                            type="text" class="mdl-textfield__input" name="name" formControlName="name">
                    </md-input-container>
                    <md-input-container>
                        <input mdInput [(ngModel)]="project.date" placeholder="Due Date" value="{{project.date}}" type="date" class="mdl-textfield__input"
                            name="date" formControlName="date">
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container>
                        <textarea mdInput placeholder="Project Description" type="text" class="form-control" name="description" [(ngModel)]="project.description"
                            formControlName="description"> </textarea>
                    </md-input-container>
                </div>
                <div class="form-group">
                </div>
                <button type="submit" md-raised-button ripple color="accent">save</button>
            </form>
        </md-card-content>
    </md-card>
</div>