.tooltip {
	display: none;
	color: #fff;
    background-color: #797979;
    position: absolute;
    top: -20px;
    z-index: 1000;
    padding: 3px 4px;
    border-radius: 6px;
	left: 3px;
    right: 3px;
    -webkit-font-smoothing: antialiased;
	transition:all, 0.3s, ease-in-out;
}
li {
	position: relative;
	&:hover {
		.tooltip {
			display: block;
			transition:all, 0.3s, ease-in-out;
		}
	}
}